<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>Node farm</title>
    <style>
        *, *::before, *::after{
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }
        
        html{
            box-sizing: border-box;
        }
        .not-organic{
            display: none;
        }
        body{
            padding: 5px 5px 10px;
            line-height: 1.7;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>🌽 Node Farm 🌳</h1>

        <div class="cards_-container">
            {%PRODUCTS_CARDS%}
        </div>
    </div>
</body>
</html>