<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../style/index.css">
    <title>{%PRODUCTNAME%} {%IMAGE%} /// Node Farm</title>
</head>
<body>
    <div>
        <h1>{%IMAGE%} Node Farm</h1>
        <div class="product__organic {%NOT_ORGANIC%}"><h5>Organic</h5></div>
        <a href="#" class="product__back">
            <span class="emoji-left">👈</span>Back
        </a>
        <div>
            <span>{%IMAGE%}</span>
            <span>{%IMAGE%}</span>
            <span>{%IMAGE%}</span>
            <span>{%IMAGE%}</span>
            <span>{%IMAGE%}</span>
            <span>{%IMAGE%}</span>
            <span>{%IMAGE%}</span>
            <span>{%IMAGE%}</span>
            <span>{%IMAGE%}</span>
            <span>{%IMAGE%}</span>

        </div>
        <h2 class="product__name">{%PRODUCTNAME%}</h2>
        <div>
            <p><span class="emoji-left">🌍</span>from {%FROM%}</p>
            <p><span class="emoji-left">💖</span>{%NUTRIENTS%}</p>
            <p><span class="emoji-left">🎁</span>{%QUANTITY%}</p>
            <p><span class="emoji-left">💵</span>{%PRICE%}</p>
        </div>
        <a href="#" class="product__link">
            <span class="emoji-left">%</span>
            <span>Add to shorping card ({%PRICE%})</span>
        </a>
        <p class="product__description">
            {%DESCROPTION%}
        </p>
    </div>
    
</body>
</html>